# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/static
.DS_Store

# Virtual Environment
django_env/
*.env

# IDE specific
.idea/
.vscode/

# Compiled Python files
*.pyc

# Local development settings
local_settings.py


